<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8" lang="zh-cn">
		<!-- 使国产浏览器用Chrome内核渲染 -->
		<meta name="renderer" content="webkit" />
		<meta name="force-rendering" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<!-- 适配DRP > 1的屏幕 -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<title>SSLIVE</title>
		<!-- 图标 -->
		<link rel="shortcut icon" href="/files/src/img/logo/sslive-rectangle-std.png" type="image/png">
		<!-- jQuery使用CDN加载 -->
		<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
		<!-- 加载Material Design Lite -->
		<link rel="stylesheet" href="/files/mdl/material.min.css">
		<script src="/files/mdl/material.min.js"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="/files/src/css/pages/newintroduction.css">
		<link rel="stylesheet" href="/files/src/css/module/footer.css">
		<script src="/files/src/util/countdown.js"></script>
		<script src="/files/src/lib/Browser.js"></script>
		<script src="/files/src/util/checkandresize.js"></script>
		<script src="/files/src/js/introduction.js"></script>
		{% include '/module/Baidu.html' %}
		<script>
			var inLive = {{ inLive }};
		</script>
	</head>

	<body>
		<div id="container">
			<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
				{% include '/module/guiding_intro.html' %}
<!--				<script>-->
<!--					var button = document.querySelector("#to-live-link");-->
<!--              var snackbar = document.querySelector("#live-not-on-snackbar");-->
<!--              listener(button, snackbar);-->
<!--            </script>-->
<!--				<script>-->
<!--					var button = document.querySelector("#to-live-link-alter");-->
<!--            listenerAlter(button, snackbar);-->
<!--          </script>-->
				<main class="mdl-layout__content">
					<div class="page-content">
						<a name="intro">
							<div id="current-stream">
								<div id="countdown-title">距离青春诗会直播还有</div>
								<div id="timer-countdown">0天 0小时 0分钟 0秒</div>
								<!--								<div id="button-to-live">-->
								<!--									<button id="button-redirect-to-live" class="mdl-button mdl-js-button mdl-js-ripple-effect">-->
								<!--										跳转到直播间-->
								<!--									</button>-->
								<!--									<div id="live-not-on-snackbar" class="mdl-js-snackbar mdl-snackbar">-->
								<!--										<div class="mdl-snackbar__text"></div>-->
								<!--										<button class="mdl-snackbar__action" type="button"></button>-->
								<!--									</div>-->
								<!--									<script>-->
<!--										var button = document.querySelector("#button-redirect-to-live");-->
<!--										var snackbar = document.querySelector("#live-not-on-snackbar");-->
<!--										listener(button, snackbar);-->
<!--									</script>-->
<!--								</div>-->
							</div>
						</a>
						{% include '/module/review.html' %}
						{% include '/module/footer.html' %}
				</main>
			</div>
		</div>
	</body>
</html>
